In [1]:
import pandas as pd

In [2]:
filename = 'C:/Users/mzindren/Documents/MontCountCrime.csv'

In [25]:
df = pd.read_csv(filename)

In [26]:
## Check that data was loaded correctly
df.head()

,Incident ID,Offence Code,CR Number,Dispatch Date/Time,NIBRS Code,Victims,Crime Name1,Crime Name2,Crime Name3,Police District Name,...,Sector,Beat,PRA,Address Number,Start Date/Time,End Date/Time,Latitude,Longitude,Police District Number,Location
0,201090098,2203,16036935,7/21/2016 13:23,220,1,Crime Against Property,Burglary/Breaking and Entering,BURGLARY - FORCED ENTRY-NONRESIDENTIAL,MONTGOMERY VILLAGE,...,R,6R3,421,8000.0,7/20/2016 19:00,7/21/2016 9:00,39.159096,-77.160441,6D,"(39.159095928510695, -77.160441128692796)"
1,201090098,2901,16036935,7/21/2016 13:23,290,1,Crime Against Property,Destruction/Damage/Vandalism of Property,DAMAGE PROPERTY - BUSINESS,MONTGOMERY VILLAGE,...,R,6R3,421,8000.0,7/20/2016 19:00,7/21/2016 9:00,39.159096,-77.160441,6D,"(39.159095928510695, -77.160441128692796)"
2,201089849,3522,16036571,7/19/2016 16:35,35A,1,Crime Against Society,Drug/Narcotic Violations,DRUGS - OPIUM OR DERIVATIVE - POSSESS,GERMANTOWN,...,N,5N1,702,19900.0,7/19/2016 16:35,NaN,39.182916,-77.270775,5D,"(39.182916491931458, -77.270775053585496)"
3,201089849,3550,16036571,7/19/2016 16:35,35B,1,Crime Against Society,Drug Equipment Violations,DRUGS - NARCOTIC EQUIP - POSSESS,GERMANTOWN,...,N,5N1,702,19900.0,7/19/2016 16:35,NaN,39.182916,-77.270775,5D,"(39.182916491931458, -77.270775053585496)"
4,201090376,2203,16037277,7/23/2016 9:25,220,1,Crime Against Property,Burglary/Breaking and Entering,BURGLARY - FORCED ENTRY-NONRESIDENTIAL,MONTGOMERY VILLAGE,...,R,6R3,421,8000.0,7/11/2016 14:00,7/12/2016 11:00,39.159096,-77.160441,6D,"(39.159095928510695, -77.160441128692796)"

In [27]:
df.dtypes

Incident ID                 int64
Offence Code               object
CR Number                   int64
Dispatch Date/Time         object
NIBRS Code                 object
Victims                     int64
Crime Name1                object
Crime Name2                object
Crime Name3                object
Police District Name       object
Block_Address              object
City                       object
State                      object
Zip Code                  float64
Agency                     object
Place                      object
Sector                     object
Beat                       object
PRA                        object
Address Number            float64
Start Date/Time            object
End Date/Time              object
Latitude                  float64
Longitude                 float64
Police District Number     object
Location                   object
dtype: object

In [39]:
dfdt = df[["End Date/Time", "Start Date/Time"]]

dfdt.head()

     End Date/Time  Start Date/Time
0   7/21/2016 9:00  7/20/2016 19:00
1   7/21/2016 9:00  7/20/2016 19:00
2              NaN  7/19/2016 16:35
3              NaN  7/19/2016 16:35
4  7/12/2016 11:00  7/11/2016 14:00

In [40]:
dfdt.dtypes

End Date/Time      object
Start Date/Time    object
dtype: object

In [72]:
dfdt.dropna()

#dfdt2 = pd.to_datetime(dfdt.stack()).unstack()

df['Start Date/Time'] = pd.to_datetime(df['Start Date/Time'])
df['End Date/Time'] = pd.to_datetime(df['End Date/Time'])

df.dtypes

Incident ID                        int64
Offence Code                      object
CR Number                          int64
Dispatch Date/Time                object
NIBRS Code                        object
Victims                            int64
Crime Name1                       object
Crime Name2                       object
Crime Name3                       object
Police District Name              object
Block_Address                     object
City                              object
State                             object
Zip Code                         float64
Agency                            object
Place                             object
Sector                            object
Beat                              object
PRA                               object
Address Number                   float64
Start Date/Time           datetime64[ns]
End Date/Time             datetime64[ns]
Latitude                         float64
Longitude                        float64
Police District Number            object
Location                          object
dtype: object

In [76]:
df['Start Date'] = df['Start Date/Time'].dt.date
df['Start Time'] = df['Start Date/Time'].dt.time

df['End Date'] = df['End Date/Time'].dt.date
df['End Time'] = df['End Date/Time'].dt.time

df.head()

,Incident ID,Offence Code,CR Number,Dispatch Date/Time,NIBRS Code,Victims,Crime Name1,Crime Name2,Crime Name3,Police District Name,...,Start Date/Time,End Date/Time,Latitude,Longitude,Police District Number,Location,Start Date,Start Time,End Date,End Time
0,201090098,2203,16036935,7/21/2016 13:23,220,1,Crime Against Property,Burglary/Breaking and Entering,BURGLARY - FORCED ENTRY-NONRESIDENTIAL,MONTGOMERY VILLAGE,...,2016-07-20 19:00:00,2016-07-21 09:00:00,39.159096,-77.160441,6D,"(39.159095928510695, -77.160441128692796)",2016-07-20,19:00:00,2016-07-21,09:00:00
1,201090098,2901,16036935,7/21/2016 13:23,290,1,Crime Against Property,Destruction/Damage/Vandalism of Property,DAMAGE PROPERTY - BUSINESS,MONTGOMERY VILLAGE,...,2016-07-20 19:00:00,2016-07-21 09:00:00,39.159096,-77.160441,6D,"(39.159095928510695, -77.160441128692796)",2016-07-20,19:00:00,2016-07-21,09:00:00
2,201089849,3522,16036571,7/19/2016 16:35,35A,1,Crime Against Society,Drug/Narcotic Violations,DRUGS - OPIUM OR DERIVATIVE - POSSESS,GERMANTOWN,...,2016-07-19 16:35:00,NaT,39.182916,-77.270775,5D,"(39.182916491931458, -77.270775053585496)",2016-07-19,16:35:00,NaT,NaT
3,201089849,3550,16036571,7/19/2016 16:35,35B,1,Crime Against Society,Drug Equipment Violations,DRUGS - NARCOTIC EQUIP - POSSESS,GERMANTOWN,...,2016-07-19 16:35:00,NaT,39.182916,-77.270775,5D,"(39.182916491931458, -77.270775053585496)",2016-07-19,16:35:00,NaT,NaT
4,201090376,2203,16037277,7/23/2016 9:25,220,1,Crime Against Property,Burglary/Breaking and Entering,BURGLARY - FORCED ENTRY-NONRESIDENTIAL,MONTGOMERY VILLAGE,...,2016-07-11 14:00:00,2016-07-12 11:00:00,39.159096,-77.160441,6D,"(39.159095928510695, -77.160441128692796)",2016-07-11,14:00:00,2016-07-12,11:00:00

In [59]:
dfdt2['New Date'] = dfdt2['Start Date/Time'].dt.date

dfdt2.head()

        End Date/Time     Start Date/Time    New Date
0 2016-07-21 09:00:00 2016-07-20 19:00:00  2016-07-20
1 2016-07-21 09:00:00 2016-07-20 19:00:00  2016-07-20
2                 NaT 2016-07-19 16:35:00  2016-07-19
3                 NaT 2016-07-19 16:35:00  2016-07-19
4 2016-07-12 11:00:00 2016-07-11 14:00:00  2016-07-11